body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 18px 0px 0px 0px;
   text-align: center;
}
#Heading8
{
   color: #A5A5A5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0px 0px 18px 0px;
   text-align: center;
}
#Heading9
{
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Shape4
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape4
{
   width: 112px;
   height: 3px;
   background-color: #1ABC9C;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0px;
   top: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 0;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid7 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#Breadcrumb1
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 13px;
}
#Breadcrumb1 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #1ABC9C;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb1 li i
{
   font-size: 13px;
   width: 15px;
}
#Breadcrumb2
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb2 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb2 > .active
{
   color: #1ABC9C;
}
#Breadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb2 li i
{
   font-size: 15px;
   width: 17px;
}
#Breadcrumb3
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb3 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb3 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb3 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb3 > .active
{
   color: #1ABC9C;
}
#Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb3 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid9 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid9 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid9 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#editboxName
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 4px 4px 4px 4px;
   margin: 5px 10px 10px 0px;
   text-align: left;
}
#editboxEmail
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 4px 4px 4px 4px;
   margin: 5px 10px 10px 10px;
   text-align: left;
}
#editboxPhone
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 4px 4px 4px 4px;
   margin: 5px 0px 10px 10px;
   text-align: left;
}
#editboxMessage
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}

.button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid rebeccapurple;
  background: purple;
  color: white;
  cursor: pointer;
  transition: background 0.5s;
}

.button:hover {
  background: cadetblue;
  border: 2px solid rebeccapurple;
}


#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text11
{
   color: #B22222;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Text11
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
